.one{
    font-size: 2vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0b3c0f96;
    padding: 30px;
    outline-style: double;
    outline-width: 10px;
    position: absolute ;
    outline-color: rgb(160, 163, 211);
    outline-offset: 20px;
    border: dotted 5px  #585e5896 ;
    text-align: center;
     text-transform: capitalize;


    
    
}
.two{
    position: absolute;
    text-align: center;
    text-shadow: #0b3c0f96; 
    font-size: 2vw;
    left: 500px;top: 300px;
    font-family: Indie Flower;
    color: antiquewhite;

}

.three{
    position: absolute;
    text-align: center;
    left: 300px;top: 400px;
    font-size: 2vw;
   font-family: Indie Flower;
   color: wheat;
   
}

.four{
    position: absolute;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #0b3c0f96; 
    left: 700px;top: 600px;
    font-size: 2vw;
    color: beige;
    
}