.one{
    font-size: 2vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0b3c0f96;
    padding: 30px;
    outline-style: double;
    outline-width: 10px;
    position: absolute ;
    outline-color: rgb(160, 163, 211);
    outline-offset: 20px;
    border: dotted 5px  #585e5896 ;
    text-align: cenetr;

    
    
}